<h1>{{title}}</h1>

<form class="std-form" #f="ngForm" (ngSubmit)="salvar(f)">
<!-- botão de salvar o formulario -->
     <mat-form-field >
    <mat-label>Nome da categoria</mat-label>
    <input input= "nome" [(ngModel)] ="categoria.nome" name="nome"matInput required >  
    <!-- modo para fazer com que o input ligue ao banco de dados e altere os valores  -->
  </mat-form-field>

   <mat-toolbar class="form-buttons">
    <mat-toolbar-row>
      <button mat-raised-button type="submit" color="accent">
        Salvar
      </button>
      <button mat-raised-button type="button" (click)="voltar(f)">
        Voltar
      </button>
    </mat-toolbar-row>
  </mat-toolbar>

</form>