mat-toolbar{
    justify-content: center;
    font-size:84%;
    position: fixed ;
    bottom: 0;
    height: 07%;
    margin-top:32px;
}
strong{
    font-size: 22px;
}
mat-toolbar mat-icon{
    width: 18px;
    height: 18px;
    font-size: 18px;
}
span a {
    font-size: 22px;
}